.botaoPrincipal {
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  width: 11rem;
  height: 3.5rem;
  cursor: pointer;
  background-color: var(--cor-primaria);
  border: none;
  color: white;
}

.headerBtn {
  background-color: black;
  border: solid 1px white;
}

.headerBtn:hover {
  background-color: var(--cor-preto-claro);
}

.bannerBtn {
  background-color: #6BD1FF;
  border: none;
  font-size: 60px;
  width: 18.5rem;
  height: 6rem;
}

.bannerBtn:hover {
  background-color: #92dcff;
}

.limpar {
  background-color: var(--cor-preto-claro);
  color: black;
}
