button {
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  width: 11rem;
  height: 3.5rem;
}

.headerBtn {
  background-color: black;
  border: solid 1px white;
  color: white;
}

.headerBtn:hover {
  background-color: (var(--cor-preto-claro));
}


button.bannerBtn {
  width: 18.5rem;
  height: 6rem;
}

.bannerBtn {
  background-color: #6BD1FF;
  border: none;
  color: white;
  font-size: 60px;
}

.bannerBtn:hover {
  background-color: #92dcff;
}