.novoVideo {
  color: white;
}

.novoVideo form {
  display: flex;
  flex-direction: column;
}

.novoVideo .btnContainer {
  display: flex;
  justify-content: space-between;
}

.novoVideo .btnContainer div {
  display: flex;
  gap: 1rem;
  margin-bottom: 11rem;
}