.botao {
    background-color: var(--cor-botao);
    color: #fff;
    border: none;
    border-radius: 6px;
    width: 96px;
    height: 40px;
}
.experiencia__botao--repo {
    background-color: #fff;
    color: var(--cor-botao);
    border: 1px solid var(--cor-botao);
    border-radius: 6px;
    width: 96px;
    height: 40px;
}

.formcontato__botao {
    background-color: var(--cor-botao);
    color: #fff;
    border: none;
    border-radius: 6px;
    width: 151px;
    height: 40px;
}