@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@100;300;400&family=Work+Sans:wght@800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
    color: #0A3871;
    font-family: 'Open Sans', sans-serif;
}

.container {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    height: 100vh;
}

.logo {
    position: absolute;
    top: 10%;
    left: 5%;
    font-weight: 900;
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 50%;
}

textarea {
    word-break: break-word;
    width: 90%;
    height: 288px;
    padding: 20px;
    font-weight: 400;
    line-height: 150%;
    border-style: none;
    border-radius: 24px;
}

textarea:focus-visible {
    outline: 1px solid #0A3871;
}

.btnDiv {
    position: relative;
    display: flex;
    gap: 20px;
    width: 90%;
}

small {
    position: absolute;
    color: black;
}

button {
    width: 100%;
    height: 57px;
    margin-top: 25px;
    border-radius: 24px;
    border-color: #0A3871;
    background: #0A3871;
    color: #E5E5E5;
    cursor: pointer;
}

button:hover {
    border-color: #0a4371;
    background: #0a4371;
}

button.descriptografar {
    background: #E5E5E5;
    color: #0A3871;
}

button.descriptografar:hover {
    background: whitesmoke;
    color: #0a4371;
}

.resultado {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 90%;
    padding: 40px;
    background: white;
    border-radius: 24px;
    text-align: center;
    color: black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.resultado.limpo {
    justify-content: flex-start;
}

img {
    min-width: 100px;
    padding: 30px;
}

.res {
    margin-top: 10px;
    max-width: 100%;
}

button.copy {
    width: 50%;
    position: absolute;
    bottom: 30px;
}

footer {
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 0;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: 100%;
    }

    .logo {
        position: initial;
        display: block;
        align-self: flex-start;
    }

    form {
        width: 90%;
    }

    .resultado {
        margin: 40px 0;
        width: 90%;
        word-break: break-all;
    }

    .resultado.limpo {
        flex-direction: column-reverse;
    }

    img {
        display: none;
    }

    button.copy {
        position: initial;
    }

    footer {
        position: initial;
    }
}

@media (max-width: 640px) {

    
    button {
        margin-top: 15px;
    }
    .btnDiv {
        flex-direction: column;
        gap: 0;
    }

    small {
        position: initial;
    }
}